@media (max-width:768px) {
    .hamburguer {
        display: block;
        
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        width: 100%;
        border-radius: 0 0 20px 20px;
        background-color: var(--cor-secundaria);
        text-align: center;
        flex-direction: column;
        transition: 0.3s;
    
    }
   ul.nav-menu li {
    padding: 20px;
   }
    .nav-item {
    transition: 0.3s;
    
    }
    .nav-menu.active {
        left: 0;
    }
    div.hero {
        flex-direction: column;
    }

    div.conteudo-texto {
        max-width: 80%;
    }
    h1.titulo, h2.subtitulo, p.texto {
        text-align: center;
    }
    .imagem-hero img{
        width: 400px;
    }
}